<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<wordpress>
			<setup>
                <mode>local</mode>
    			<theme_integration>1</theme_integration>
    			<path>wp</path>
			</setup>
			<mode_external_db>
    			<table_prefix>wp_</table_prefix>
    			<charset>utf8</charset>
			</mode_external_db>
            <xmlsitemap>
                <enabled>1</enabled>
            </xmlsitemap>
		</wordpress>
	</default>
</config>