<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<wordpress>
			<setup>
                <mode>subdirectory</mode>
			</setup>
			<mode_subdirectory>
    			<path>wp</path>
			</mode_subdirectory>
			<mode_external>
    			<db>
        			<table_prefix>wp_</table_prefix>
        			<charset>utf8</charset>
    			</db>
			</mode_external>
		</wordpress>
	</default>
</config>