<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<wordpress>
			<setup>
				<enabled>1</enabled>
				<path>wp</path>
				<theme_integration>1</theme_integration>
				<ignore_store_code>0</ignore_store_code>
			</setup>
			<xmlsitemap>
  			<enabled>1</enabled>
			</xmlsitemap>
		</wordpress>
	</default>
</config>