<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="AdminSaveProductPostAssociation" instance="FishPig\WordPress\Observer\Adminhtml\CatalogProductSave" />
    </event>
</config>