<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="FishPig_WordPress::config_wordpress" title="WordPress" module="FishPig_WordPress" sortOrder="30" resource="FishPig_WordPress::config_wordpress" action="adminhtml/system_config/edit/section/wordpress" />
	</menu>
</config>