<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="fishpig" translate="label" sortOrder="200" class="fishpig-tab">
            <label>FishPig</label>
        </tab>
        <section id="wordpress" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>WordPress Integration</label>
            <tab>fishpig</tab>
            <resource>FishPig_WordPress::config_wordpress</resource>
            <group id="setup"  sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>WordPress Integration Setup</label>
                <field id="custom_base_url" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Magento Base URL</label>
                    <source_model>FishPig\WordPress\Model\Config\Source\MagentoBaseUrl</source_model>
                    <frontend_model>FishPig\WordPress\Block\Adminhtml\Form\Renderer\Config\MagentoBaseUrlSelector</frontend_model>
                    <comment>The URL used as the Magento base URL</comment>
                </field>
                <field id="theme_integration" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Theme Integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mode" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>FishPig\WordPress\App\Integration\Mode</source_model>
                </field>
                <group id="mode_local"  sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Local Integration</label>
                    <depends><field id="mode">local</field></depends>
                    <field id="path" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Path</label>
                        <comment>Enter the path to your WordPress installation.</comment>
                        <config_path>wordpress/setup/path</config_path>
                    </field>
                </group>
                <group id="mode_external"  sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>External Integration</label>
                    <depends><field id="mode">external</field></depends>
                    <group id="db"  sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database</label>
                        <comment>This data can be found in your wp-config.php file, which will be in the root of your WordPress installation.</comment>
                        <field id="host" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Hostname</label>
                            <config_path>wordpress/mode_external_db/host</config_path>
                        </field>
                        <field id="dbname" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Name</label>
                            <config_path>wordpress/mode_external_db/dbname</config_path>
                        </field>
                        <field id="username" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Username</label>
                            <config_path>wordpress/mode_external_db/username</config_path>
                        </field>
                        <field id="password" translate="label comment" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Password</label>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <config_path>wordpress/mode_external_db/password</config_path>
                        </field>
                        <field id="charset" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Charset</label>
                            <config_path>wordpress/mode_external_db/charset</config_path>
                        </field>
                        <field id="table_prefix" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Table Prefix</label>
                            <config_path>wordpress/mode_external_db/table_prefix</config_path>
                        </field>

                        <field id="ssl" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Use TLS (SSL)</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>wordpress/mode_external_db/ssl</config_path>
                        </field>
                        <!--
                        <field id="ssl_verify_server_cert" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Verify Server Cert</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>wordpress/mode_external_db/ssl_verify_server_cert</config_path>
                            <depends><field id="ssl_enabled">1</field></depends>
                        </field>
                        <field id="ssl_key" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>SSL Key</label>
                            <config_path>wordpress/mode_external_db/ssl_key</config_path>
                            <depends><field id="ssl_enabled">1</field><field id="ssl_verify_server_cert">1</field></depends>
                        </field>
                        <field id="ssl_key" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>SSL Cert</label>
                            <config_path>wordpress/mode_external_db/ssl_cert</config_path>
                            <depends><field id="ssl_enabled">1</field><field id="ssl_verify_server_cert">1</field></depends>
                        </field>
                        <field id="ssl_ca" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>SSL CA</label>
                            <config_path>wordpress/mode_external_db/ssl_ca</config_path>
                            <depends><field id="ssl_enabled">1</field><field id="ssl_verify_server_cert">1</field></depends>
                        </field>
                        -->
                    </group>
                </group>
            </group>
            <group id="autologin" sortOrder="30" showInDefault="1">
                <label>WP-Admin Auto Login</label>
                <comment>Login to your WordPress Admin with a single click, right from the Magento Admin.</comment>
				<field id="FishPig_WordPress_AutoLogin" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Status</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
            </group>
			<group id="root" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Root</label>
                <comment>Remove /blog/ from your WordPress URLs and gain complete control over where you position WordPress content in your URL structure. This also allows you to start creating your CMS pages in WordPress.</comment>
				<field id="FishPig_WordPress_Root" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Status</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
			</group>
			<group id="multisite" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Multisite (WordPress Network)</label>
				<comment>Use the WordPress Network features to assign a different blog to each Magento store/language.</comment>
				<field id="FishPig_WordPress_Multisite" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Status</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
			</group>
			<group id="psw" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
				<label><![CDATA[Plugins, Shortcodes &amp; Widgets]]></label>
                <comment>Adds shortcode and plugin support and so much more, including RSS feeds, Yoast XML sitemaps, AMP support and even Page Builders like Elementor and WP Bakery.</comment>
				<field id="FishPig_WordPress_PluginShortcodeWidget" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Status</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
			</group>
            <group id="contentblocks" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Content Blocks</label>
                <comment><![CDATA[<p>Create CMS Blocks in WordPress using the WordPress editor and plugins and use them anywhere you want in Magento.</p><p>Select WP content blocks from any CMS/Static block drop down or use the shortcode anywhere:</p><p>[wp_block id="1234"]</p>]]></comment>
				<field id="FishPig_WordPress_ContentBlocks" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Status</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
            </group>
            <group id="acf" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced Custom Fields</label>
                <comment>Access field data generated by the Advanced Custom Fields (ACF) plugin.</comment>
				<field id="FishPig_WordPress_ACF" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Status</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
            </group>
            <group id="cpt" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Custom Post Types &amp; Taxonomies]]></label>
                <comment>Use custom post types and custom taxonomies in your integrated blog. This data is automatically taken from WordPress.</comment>
				<field id="FishPig_WordPress_PostTypeTaxonomy" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Status</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
            </group>
			<group id="relatedproducts" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Related Products</label>
				<comment>Link Magento products and categories with your WordPress posts and display these products and categories automatically on the post view page and link to the posts from the product and category pages.</comment>
				<field id="FishPig_WordPress_RelatedProducts" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Status</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
			</group>
			<group id="wpml" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>WPML</label>
				<comment>Setup multilingual blogging using the WPML plugin.</comment>
				<field id="FishPig_WordPress_WPML" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Status</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
			</group>
            <group id="addon" sortOrder="9999" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Extra Add-On Modules</label>
				<field id="FishPig_WordPress_IntegratedSearch" showInDefault="1">
					<label>Integrated Search</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
				<field id="FishPig_PageSpeed" showInDefault="1">
					<label>Page Speed</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
				<field id="FishPig_WordPress_PermalinkManager" showInDefault="1">
					<label>Permalink Manager</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
				<field id="FishPig_NoBots" showInDefault="1">
					<label>Security Suite</label>
					<frontend_model>FishPig\WordPress\Block\Adminhtml\System\Config\Form\Field\GetAddon</frontend_model>
				</field>
            </group>
        </section>      
    </system>
</config>